{% extends 'base.html.twig' %}

{% block body %}
    <h1>Domaines list</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Spec</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for domaine in domaines %}
            <tr>
                <td>{{ domaine.spec }}</td>
                <td>
                    <ul>
                        <input type="button" class="btn btn-primary" onclick="window.location.href='{{ path('domaine_show', { 'id': domaine.id }) }}'" value="show" style="margin: 5px;"/>

                        <input type="button" class="btn btn-warning" onclick="window.location.href='{{ path('domaine_edit', { 'id': domaine.id }) }}'" value="edit" style="margin: 5px;" />


                        <input type="button" class="btn btn-danger" onclick="window.location.href='{{ path('domaine_delete', { 'id': domaine.id }) }}'" value="delete" style="margin: 5px;"/>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <input type="button" class="btn btn-success" onclick="window.location.href='{{ path('domaine_new')}}'" value="New domaine" style="margin: 5px;"/>

{% endblock %}
