{% extends 'base.html.twig' %}

{% block body %}

    <h1>Planning semaine N edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <input type="submit" class="btn btn-success" value="Valider"  />
    {{ form_end(edit_form) }}

    <ul>

        {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" value="Delete" style="margin: 5px -40px;"/>
        {{ form_end(delete_form) }}

        <input type="button" class="btn btn-secondary" onclick="window.location.href='{{ path('home_index', { 'id': home.id }) }}'" value="Back to the list" style="margin: 5px -40px;"/>



    </ul>
{% endblock %}
