{% extends 'base.html.twig' %}

{% block body %}
    <input type="button" class="btn btn-success" onclick="window.location.href='{{ path('home_new')}}'" value="New reservation" style="margin: 5px;"/>
    <br>

    <input type="button" class="btn btn-secondary" onclick="window.location.href='{{ path('home2_index') }}'" value="Voir planning semaine N+1" style="margin: 5px ;"/>

    <h1>Planning semaine N</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th class="col">Formateur</th>
            <th class="col">Salle</th>
            <th class="col">Type</th>
            <th class="col">Promotion</th>
            <th class="col">Jour</th>
            <th class="col">Demi-Journée</th>
            <th class="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for home in homes %}
            <tr>
                <td>{{ home.formateur }}</td>
                <td>{{ home.salle }}</td>
                <td>{{  home.type  }}</td>
                <td>{{ home.promo }}</td>
                <td>{{ home.day }}</td>
                <td>{{ home.halfDay }}</td>

                <td>
                    <ul>

                        <input type="button" class="btn btn-primary" onclick="window.location.href='{{ path('home_show', { 'id': home.id }) }}'" value="show" style="margin: 5px;"/>

                        <input type="button" class="btn btn-warning" onclick="window.location.href='{{ path('home_edit', { 'id': home.id }) }}'" value="edit" style="margin: 5px;" />


                        <input type="submit" class="btn btn-danger" onclick="window.location.href='{{ path('home_delete', { 'id': home.id }) }}'" value="delete" style="margin: 5px;"/>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
